.page_content {
  display: flex;
}
.sidebar {
  /* width: 20vw; */
  border-right: 1px solid #fff;
  height: 100vh;
  max-width: 330px;
}

.dashboard_nav {
  list-style: none;
  padding: 20px;
}

.dashboard_nav li {
  color: #fff;
  padding: 10px 15px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  text-wrap: nowrap;
  transition: 0.3s;
}

.dashboard_nav li:hover {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}
.dashboard_nav li:hover .nav_icon {
  border: 2px solid #000 !important;
}
.dashboard_nav li:hover .ad_icon {
  border: 2px solid #000;
}
.sidebar_header {
  padding: 10px;
  border-bottom: 2px solid #fff;
}

.dashboard_nav button {
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
}
.dashboard_nav button a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.dashboard_nav button:hover {
  background-color: #000;
}
.dashboard_nav button:hover a {
  color: #fff !important;
}
.nav_icon {
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 14px;
}
.ad_icon {
  font-size: 14px;
  padding: 8px 7px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.main_page_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_button {
  border: 2px solid #fff;
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.main_button:hover {
  background-color: #fff;
  color: #000;
}

.user_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.change_img {
  bottom: 0;
  right: 5px;
}

.logout {
  box-shadow: inset 2px 3px 5px #666;
}

@media (max-width: 768px) {
  .main_page_content {
    display: none;
  }
  .sidebar {
    width: 100vw;
    border: none;
    height: 100vh;
    max-width: 100vw;
  }
  .logout {
    width: 100%;
  }
  .dashboard_nav li {
    padding: 20px 15px;
  }
  .sidebar_header {
    padding: 15px;
    border-bottom: 2px solid #fff;
  }
}
